.Modal {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: var(--modal-z-index);
    align-items: center;
    justify-content: center;
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: var(--layout-z-index);
    background-color: var(--layout-color);
    transition: all 0.3s ease-in-out;
}

.content {
    position: relative;
    scale: 0.2;
    padding: 50px;
    border-radius: 8px;
    background: var(--bg-color);
    z-index: var(--modal-content-z-index);
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.content-full {
    scale: 1;
}

.layout-full {
    opacity: 1;
}

.modalButton {
    position: absolute;
    top: 8px;
    right: 8px;
}
