.GRID {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 80px;
}

.LIST {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ArticleList {
    padding: 0 10px;
}
