.LIST {
    flex: 1 1 100%;

    .ArticleListItem {

    }

    .card {

    }

    .bigCardFooter {
        display: flex;
    }

    .imgWrapper {

    }

    .date {
        margin-left: auto;
    }

    .userAndDate {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .img {
        max-width: 1000px;
        width: 100%;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        object-fit: cover;
    }

    .readMore {
        padding: 5px 10px;
        border-radius: 4px;
        color: var(--primary-color);
        display: block;
        border: 1px solid var(--inverted-bg-color);
        text-decoration: none;
    }

    .imageWrapper {
        padding: 20px 0;
    }

    .infoWrapper {

    }

    .types {

    }

    .views {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .title {

    }

    .textBlock {
        overflow: hidden;
        max-height: 250px;
    }
}

.GRID {
    flex: 0 1 21%;
    text-decoration: none;

    .imgWrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .img {
        width: 100%;
    }

    .date {
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    .date p {
        color: rgb(51 51 51 / 50%);
        font-size: 12px;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }

    .types {
        margin-right: auto;
    }

    .types p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 125px;
    }

    .views {

    }

    .title {

    }
}
