.wrapper {
    display: flex;
    flex-direction: column;
}

.select {
    width: 217px;
    padding: 5px;
    background: none;
    border-radius: 8px;
    color: var(--inverted-bg-color);
}

.option {
    background-color: var(--bg-color);
}
