.dark {
    --bg-color: #090f11;
    --bg-light-color: #151c1f;
    --primary-color: #dbdbdb;
    --secondary-color: #04ff04;
    --layout-color: rgb(206 206 206 / 60%);
    --inverted-bg-color: #fff;
    --inverted-light-bg-color: #e2eef1;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #dd7017;

    // skeleton
    --skeleton-color: #ffffff9f;
    --skeleton-shadow: #ffffff4b;

    // code
    --code-bg: rgb(39 39 39);

    // card
    --card-bg: rgb(39 39 39);
    --card-box-shadow: rgb(223 223 223 / 30%);
}
