.app.dark {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #04ff04;
    --inverted-bg-color: #fff;
    --inverted-primary-color: #dd17bc;
    --inverted-secondary-color: #dd7017;
}
