.light {
    --bg-color: #eff5f6;
    --light-bg-color: #e2eef1;
    --primary-color: #000;
    --secondary-color: #0449e0;
    --layout-color: rgb(0 0 0 / 60%);
    --inverted-bg-color: #000;
    --inverted-light-bg-color: #151c1f;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #350ba8;
}
