.articleDetails {
    height: 100%;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}

.articleAvatar {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}

.skeleton {
    margin-bottom: 10px;
}

.skeletonWrapper {
    padding: 20px;
}

.articleInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blocks {
    padding: 25px 0;
}
