.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.ProfileCard {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    display: block;
    margin-bottom: 20px;
}
