.ProfileCard {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.avatarWrapper {
    text-align: center;
}

.profileWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    justify-content: space-evenly;
}

.input {
    display: block;
}

.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    .title {
        font: var(--font-l);
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
    }
}
